<div class="center countdown-body col-md-12">
  <h1 class="thin">Coming August 22</h1>
  <div class="clock countdown"></div>
  <%= image_tag("logo.png", class: "med-logo") %>
</div>

<script type="text/javascript">
  var clock;

  $(document).ready(function() {

    // Grab the current date
    var currentDate = new Date();

    // Set some date in the future. In this case, it's always Jan 1
    var futureDate  = new Date("August 22, 2014 12:00:00");

    // Calculate the difference in seconds between the future and current date
    var diff = futureDate.getTime() / 1000 - currentDate.getTime() / 1000;

    // Instantiate a coutdown FlipClock
    clock = $('.clock').FlipClock(diff, {
      clockFace: 'DailyCounter',
      countdown: true
    });
  });
</script>
