  <script src="http://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"></script>
  <!--Video Section-->
  <%= content_for :home do %>
  <div class="beep">
    <section class="video-section">
      <div class="video-content">
        <div><h1>The Dean's List</h1></div>
        <div><h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3></div>
        <div class="arrow-section">
          <h4 class="thin">Scroll to find out more</h4>
          <a href="#about"><%= image_tag("arrow.png", class: "icon") %></a>
        </div>
      </div>
      <div class="pattern-overlay">
        <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=uvl5oHbSayo&index=43&list=WL',containment:'.video-section', quality:'large', autoPlay:true, mute:true}"></a>
      </div>
    </section>
  </div>

<div id="about">
  <div class="container">
    <div class="col-xs-12 center">
      <h1 class="lg-header thin">The Movement</h1>
      <h3 class="page-text">" Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillu dolore eu fugiat. "</h3>
      <h3 class="pull-right page-text"> - The Dean</h3>
    </div>
  </div>
</div>

<div id="models">
  <div class="col-md-12 center"><h1 class="lg-header thin">Meet the Models</h1></div>
  <div class="row">
    <% @girls.each do |girl| %>
      <div class="col-xs-2">
        <a href="/girls/<%= girl.id %>" class="bwWrapper"><%= image_tag girl.image.url, class: "model"%></a>
      </div>
    <% end %>
  </div>
</div>
  <% end %>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.video-section').css('height', screen.height*.87);
      $('.video-content').css('padding-top', screen.height/3.5);
      $('.arrow-section').css('margin-top', screen.height*.30);
      $('#about').css('padding-top', screen.height/4);
      $('#about').css('padding-bottom', screen.height/3);

      $('a.nav-link').hover(function(){
        $(this).stop(true, false).animate({ 'padding-bottom': "20px" }, 200);
        }, function() {
        $(this).stop(true, false).animate({ 'padding-bottom': "15px" }, 200);
      });

      $('a[href^="#"]').click(function (e) {
          e.preventDefault();

          var target = this.hash,
          $target = $(target);

          $('html, body').stop().animate({
              'scrollTop': $target.offset().top
          }, 750, 'swing', function () {
              window.location.hash = target;
          });
      });

      $('.bwWrapper').BlackAndWhite({
          hoverEffect : true, // default true
          // set the path to BnWWorker.js for a superfast implementation
          webworkerPath : false,
          // to invert the hover effect
          invertHoverEffect: false,
          // this option works only on the modern browsers ( on IE lower than 9 it remains always 1)
          intensity:1,
          speed: { //this property could also be just speed: value for both fadeIn and fadeOut
              fadeIn: 100, // 200ms for fadeIn animations
              fadeOut: 500 // 800ms for fadeOut animations
          },
          onImageReady:function(img) {
              // this callback gets executed anytime an image is converted
          }
      });
    });
  </script>
