  <script src="http://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"></script>
  <!--Video Section-->
  <div class="beep">
    <section class="content-section video-section">
      <div class="pattern-overlay">
      <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=uvl5oHbSayo&index=43&list=WL',containment:'.video-section', quality:'large', autoPlay:true, mute:true}">bg</a>
      </div>
    </section>
  </div>


