  <script src="http://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"></script>
  <!--Video Section-->
  <%= content_for :video do %>
  <div class="beep">
    <section class="video-section">
      <div class="video-content">
        <div><h1>The Dean's List</h1></div>
        <div><h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3></div>
        <div class="arrow-section">
          <h4 class="thin">Scroll to find out more</h4>
          <%= image_tag("arrow.png", class: "icon") %>
        </div>
      </div>
      <div class="pattern-overlay">
        <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=uvl5oHbSayo&index=43&list=WL',containment:'.video-section', quality:'large', autoPlay:true, mute:true}"></a>
      </div>
    </section>
  </div>
  <% end %>

  <div id="about" class="col-xs-12 center">
    <h1 class="lg-header thin">The Movement</h1>
    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</h3>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
      $('.video-section').css('height', screen.height*.87)
      $('.video-content').css('padding-top', screen.height/3.5)
      $('.arrow-section').css('margin-top', screen.height*.30)
    });
  </script>
