<div class="center">
  <div class="col-md-12">
    <%= image_tag("logo.png", class: "med-logo") %>
    <h3 class="med">Thank you for your payment. Your transaction has been completed, and a receipt for your purchase has been emailed to you. You may log into your account at <a href="https://www.paypal.com/us/webapps/mpp/home" target="_blank">www.paypal.com/us</a> to view details of this transaction.</h3>
  </div>
</div>
