<div class="center col-md-12">
  <h1>Girls</h1>
</div>

<div class="row">
  <% @girls.each do |girl| %>
    <div class="col-sm-2">
      <%= image_tag girl.image.url, class: "model" %>
      <div><%= link_to "Edit", edit_girl_path(girl) %></div>
      <div><%= link_to "Delete", girl, method: :delete, data: {confirm: "Are you sure you would like to remove #{girl.first_name}"} %></div>
    </div>
  <% end %>
</div>

<%= link_to "Add Model", new_girl_path %>
