body {
  font-family: 'Roboto', sans-serif;
}

.flash {
  background-color: rgba(231, 76, 60, 0.5);
  margin-top: 15px;
  color: black;
  font-weight: 300;
}

/*********************** Helpers **************************/
.center {
  text-align: center;
}

/*********************** Fonts **************************/
.thin {
  font-weight: 100 !important;
}

.med {
  font-weight: 300 !important;
}

.small {
  font-size: .25em;
}

.lg-header {
  margin-top: 50px;
  font-size: 4em;
  color:  #e74c3c;
}

.page-text {
  font-weight: 100;
  text-align: justify;
}

.white {
  color: white !important;
}

.red {
  color: #e74c3c !important;
}

.justify {
  text-align: justify;
}

.bio {
  text-align: justify;
  margin-top: 30px;
}

.line-style {
  padding-top: 10px;
  margin-bottom: -15px;
}

/*********************** Navbar **************************/
.navbar-default {
  background: rgba(236, 240, 241,0) !important;
  border: none;
  height: 70px;
  padding-top: 20px;
}
.nav-link {
  color: white !important;
  font-size: 1.5em;
  font-weight: 300;
  margin: 15px 15px 0 0;
  padding-left: 50px !important;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.navbar-brand {
  color: #2c2c2c !important;
  font-size: 3em;
  font-family: 'Cinzel', serif;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.nav-link:hover {
  color: #e74c3c !important;
  border-bottom: 1px solid #e74c3c;
}

.custom-nav-link {
  color: white !important;
  font-size: 1.5em;
  font-weight: 300;
  margin: 5px 15px 0 0;
  padding-bottom: 25px !important;
  padding-left: 50px !important;
}

.custom-nav-link:hover {
  color: #bdc3c7 !important;
}

.brand-logo {
  height: 70px;
  width: 70px;
}

.xs-logo {
  margin-top: 12px;
  height: 40px;
  width: 40px;
}

/*********************** Video **************************/
.video-section{
background-color: rgba(71, 71, 71, 0.5);
height: 900px;
}
.video-section .buttonBar{display:none;}

.beep {
  margin-top: -90px;
}

.video-content {
  padding-top: 250px;
  text-align: center;
  color: white;
}

.video-content h1 {
  font-family: 'Cinzel', serif;
  font-size: 5em !important;
  font-weight: 500;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.video-content h3 {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  font-weight: 300;
}


/*********************** Home Page **************************/

.icon {
  height: 60px;
}

.arrow-section {
  margin-top: 300px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

#about {
  padding: 100px 0 100px 0;
  background:#2c2c2c;
  color: white;
}

.bwWrapper {
    position:relative;
    display:block;
}

.model {
  width: 100%;
  height: 100%;
}

img.desaturate { -webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
filter: grayscale(100%);
}

#models div {
  padding: 0 !important;
}

.row-pad {
  margin-right: 0px !important;
}


#models {
  /*background: #e74c3c;*/
}

.logo {
  height: 100px;
}

.img-txt {
  padding-top: 50px;
}

#support {
  padding: 50px 0 50px 0;
  background: #ecf0f1;
}

.custom-well {
  background: white;
  padding: 40px 0 30px 0;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  border-radius: 3px;
}

.support-info {
  line-height: 150%;
}

.image {
   position: relative;
   width: 100%; /* for IE 6 */
}

.image-text {
   position: absolute;
   bottom: 1%;
   left: 0;
   width: 100%;
}

#disclaim:hover {
  text-decoration: underline;
  cursor: pointer;
}

.model-pad {
  margin-bottom: 30px;
  margin-top: 30px !important;
}
.contenthover {
  text-align: center;
  margin-top: 40%;
}
.contenthover, .contenthover h3, .contenthover a {
  color: white;
  font-weight: 300;
  /*text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);*/
}

.learn {
  background: #e74c3c;
  border-radius: 150px;
  width: 25%;
  padding: 10px 0 10px 0;
  font-size: .75em;
  margin-left: 40%;
  color: white;
  margin-top: 20%;
  text-align: center;
}

.learn:hover {
  background: rgba(192, 57, 43,1.0);
}

.model-name {
  font-size: 1em;
}

.model-image a {
  text-decoration: none;
}

/*********************** Footer **************************/
footer {
  margin-top: 0px;
  margin-bottom: -50px;
  bottom:0;
  height:100%;   /* Height of the footer */
  background: #c0392b;
  color: white;
  font-weight: 100;
}

.footer-content {
  padding-top: 50px;
  padding-bottom: 50px;
  /*padding-left: 10%;*/
}

.address {
  line-height: 50%;
}

.trans {
  background-color: rgba(168,168,168,0.2);
  border: none;
  margin-bottom: 15px;
  height: 35px;
  width: 100%;
  padding-left: 10px;
  color: white;
  font-weight: 100;
}

.trans:focus {
  outline: 1;
}

.trans::-webkit-input-placeholder {
  color: white;
}

.trans:-moz-placeholder { /* Firefox 18- */
  color: white;
}

.trans::-moz-placeholder {  /* Firefox 19+ */
  color: white;
}

.trans:-ms-input-placeholder {
  color: white;
}

.area {
  height: 100px;
  width: 100%;
  resize: none;
}

.contact-submit {
  width: 25%;
  margin-left: 75%;
  height: 30px;
}

.prof-pic {
  height: 50px;
  border-radius: 150px;
  margin-right: 10px;
}

.line-break {
  color: grey;
}

.contact-icon {
  margin-right: 10px;
  padding-left: 2.5%;
  height: auto;
  width: auto;
}

.foot-link {
  color: white;
}

.foot-link:hover {
  text-decoration: none;
  color: #1abc9c;
}

/*********************** Stripe Page **************************/
.cal-cover {
  height: auto;
  width: 100%;
  border-radius: 2px;/*
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  border-bottom: 80px solid white;*/
  /*box-shadow: 0px 5px 10px rgba(168,168,168,0.5);*/
  /*border-bottom: 1px solid #bdc3c7;*/
  /*border-right: 1px solid #bdc3c7;*/
}

.amount-info {
  font-size: 2em;
}

/*********************** Dashboard **************************/

form select {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  background: white;
  border: 1px solid #a9a9a9;
  color: black;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.10em;
}

.submit-btn {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 30px;
  padding: 0;
  color: white;
  text-align: center;
  background: #3498db;
  border: 0;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 15px;
  border-radius: 3px;
}

.girls-input {
  height: 30px;
  width: 100%;
  font-size: 1.25em;
  font-weight: 300;
  margin-bottom: 15px;
  margin-top: 10px;
}

.text-area {
  height: 80px;
}

/*********************** Girls#Show **************************/
.btn-custom {
  background: #f1c40f;
  color: #34495e;
  border: none;
  height: 30px;
  width: 75px;
  border-radius: 2px;
  border-bottom: 3px solid #f39c12;
}

.btn-custom:hover {
  border: none !important;
}

.wallpaper {
  background-image: image-url('wallpaper.jpg');
  background-position: center;
  height: 325px;
  background-size: 100%;
  margin-top: -125px;
  background-repeat: no-repeat;
}

.girl-profile {
  margin-top: -175px;
  text-align: center;
}

.profile-pic {
  border: 3px solid white;
  height: 150px;
  width: auto;
}

.banner-font {
  margin-bottom: -20px;
}

.med-logo {
  height: 100px !important;
  width: auto;
}

/*********************** Media Queries **************************/
@media (min-width: 768px) {
  .banner-font {
    color: white;
    margin-bottom: 0px;
  }

  .bio {
    line-height: 125%;
  }

  .wallpaper {
    height: 225px;
    margin-top: -20px;
  }

  .girl-profile {
    margin-top: -125px;
    text-align: left;
  }

  .profile-pic {
    height: 250px;
    width: auto;
  }

  .model-name {
    font-size: 2em;
  }

  .learn {
    width: 20%;
  }

}

@media (min-width: 992px) {
  .nav-link {
    border-bottom: 1px solid white;
  }

  .nav-link:hover {
    border-bottom: 1px solid #e74c3c;
  }
}
