/*********************** Helpers **************************/
.center {
  text-align: center;
}

/*********************** Fonts **************************/
.thin {
  font-weight: 100 !important;
}

.lg-header {
  font-size: 4em;
}

/*********************** Colors **************************/

/*********************** Navbar **************************/
.navbar-default {
  background: rgba(236, 240, 241,0) !important;
  border: none;
  height: 70px;
  padding-top: 20px;
}
.navbar a,
.navbar-brand,
.navbar-text {
  color: white !important;
  font-size: 1.5em;
  font-weight: 300;
}

.navbar a {
  border-bottom: 1px solid white;
  margin: 15px 15px 0 0;
}

.navbar a:hover {
  color: #FF0000 !important;
  border-bottom: 1px solid #FF0000;
}

/*********************** Video **************************/
.video-section .pattern-overlay {
background-color: rgba(71, 71, 71, 0);
height: 900px;
}
.video-section .buttonBar{display:none;}

.beep {
  margin-top: -90px;
}

.content-section {
}
