body {
  font-family: 'Roboto', sans-serif;
}

.flash {
  background-color: rgba(231, 76, 60, 0.5);
  margin-top: 15px;
  color: black;
  font-weight: 300;
}

/*********************** Helpers **************************/
.center {
  text-align: center;
}

/*********************** Fonts **************************/
.thin {
  font-weight: 100 !important;
}

.lg-header {
  margin-top: 50px;
  font-size: 4em;
  color:  #e74c3c;
}

.page-text {
  font-weight: 100;
  text-align: justify;
}

/*********************** Navbar **************************/
.navbar-default {
  background: rgba(236, 240, 241,0) !important;
  border: none;
  height: 70px;
  padding-top: 20px;
}
.navbar a {
  color: white !important;
  font-size: 1.5em;
  font-weight: 300;
  margin: 15px 15px 0 0;
  padding-left: 50px !important;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.navbar-brand {
  color: white !important;
  font-size: 3em;
  font-family: 'Cinzel', serif;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.navbar a:hover {
  color: #e74c3c !important;
  border-bottom: 1px solid #e74c3c;
}

/*********************** Video **************************/
.video-section{
background-color: rgba(71, 71, 71, 0.5);
height: 900px;
}
.video-section .buttonBar{display:none;}

.beep {
  margin-top: -90px;
}

.video-content {
  padding-top: 250px;
  text-align: center;
  color: white;
}

.video-content h1 {
  font-family: 'Cinzel', serif;
  font-size: 5em !important;
  font-weight: 500;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.video-content h3 {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  font-weight: 300;
}


/*********************** Home Page **************************/

.icon {
  height: 60px;
}

.arrow-section {
  margin-top: 300px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

#about {
  padding: 100px 0 100px 0;
  background:#2c2c2c;
  color: white;
}

.model {
  width: 100%;
}

#models div div {
  padding: 0 !important;
}

.logo {
  height: 100px;
}

/*********************** Media Queries **************************/
@media (min-width: 992px) {
  .navbar a {
    border-bottom: 1px solid white;
  }

  .navbar a:hover {
    border-bottom: 1px solid #e74c3c;
  }
}
