<h1 class="center lg-header thin">Vendors</h1>

<% if @locations.empty? %>
  <h1>Sorry, it looks like there are no vendors... Add some now!</h1>
<% else %>
  <ul>
    <% @locations.each do |l| %>
      <li>
        <h1><%= l.name %></h1>
        <%= link_to "Edit", edit_location_path(l) %> | <%= link_to "Delete", l, method: :delete, data: {confirm: "Are you sure you would like to remove #{l.name}"}, class: "red" %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to "Add Vendor", new_location_path, class: "btn btn-sm btn-primary" %>
